<h1>Create</h1>
<div class="form">
  <form action='' method="">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <label for="name">Description</label>
    <textarea id="name" name="description"></textarea>
    <label for="image">ImageUrl</label>
    <input type="text" id="image" name="imageUrl">
    <label for="difficulty">Category</label>
    <select id="difficulty" name="difficultyLevel">
      <option value="1">Cars</option>
      <option value="2">Buses</option>
      <option value="3">Engines</option>
      <option value="4">Trucks</option>
      <option value="5">Caravans</option>
      <option value="6">Boats</option>
      <option value="7">Trailers</option>
      <option value="8">Parts and accessories</option>
      <option value="9">Tires and wheels</option>


    </select>
    <input type="submit" value="Create">
  </form>
</div>